.icons {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
}

.seat {
    background: url('../images/seats.svg');
}

.suitcase {
    background: url('../images/seats.svg');
}

.suitcaseSmall {
    background: url('../images/seats.svg');
}

.doors {
    background: url('../images/door.svg');
}

.trasmission {
    background: url('../images/transmision.svg');
}

.air {
    background: url('../images/air-conditioning.svg');
}

.check {
    background: url('../images/check.svg');
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
}